.cupStage0,
.cupStage1,
.cupStage2 {
  margin-left: 40%;
  margin-top: 49%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 200px;
  border: 6px solid white;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 0 6px #666666, 0 10px 25px rgba(0, 0, 0, 1);
}
.cupStage0:before,
.cupStage1:before,
.cupStage2:before {
  content: "";
  position: absolute;
  width: 50px;
  left: 206px;
  top: 30px;
  height: 130px;
  border: 8px solid #666666;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.cupStage1 {
  animation: firstFill 2s linear;
}
.cupStage2 {
  animation: secondFill 2s linear;
}

.cupStage1,
.cupStage2 {
  animation-fill-mode: forwards;
  background: url("../../../Images/beer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes firstFill {
  0% {
    background-position: 0px 140px;
  }
  50% {
    background-position: 0px 60px;
  }
  100% {
    background-position: 0px 40px;
  }
}
@keyframes secondFill {
  0% {
    background-position: 0px 40px;
  }
  50% {
    background-position: 0px 20px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.container {
  width: 300px;
  height: 50px;
  margin: auto;
}
